/* Reset default browser styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Overall App Styling */
body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(170, 187, 196, 0.7);
  background-color: #f7f9fc;
  color: #333;
  line-height: 1.6;
}

/* Header Styling */
.header {
  background-color: #00b4d8;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Navigation Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9); /* Black with transparency */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 999; /* Ensure navbar stays on top */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-link {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #00b4d8; /* Change color on hover */
}

/* Hero Section Styling */
.hero {
  background-image: url("./abstract2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.874);
  padding: 1rem 2rem;
  animation: moveTitle 1.5s ease-in-out;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1.5rem;
  text-align: center;
}

.card-icon {
  font-size: 3rem;
  color: #00b4d8;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-description {
  font-size: 1.1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.login-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  animation: moveTitle 1.5s ease-in-out;
}

.login-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-button {
  background-color: #000;
  color: #fff;
  font-family: "Zilla Slab", sans-serif;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #333;
}

.car-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.login-description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@keyframes moveTitle {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveDescription {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* .card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.business-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}

.add-listing {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  font-family: "Zilla Slab", serif;
}

.nav-list-item {
  margin: auto 20px;
  font-family: "Zilla Slab", serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px;
  font-family: "Zilla Slab", serif;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  gap: 15px;
  font-family: "Nascar", Arial, sans-serif;
}

.maintenance-schedules {
  font-family: "Zilla Slab", serif;
} */
