.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.business-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}

.add-listing {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.nav-list {
  list-style: none;
  display: flex;
  font-family: "Zilla Slab", serif;
}

.nav-list-item {
  margin: auto 20px;
  font-family: "Zilla Slab", serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px;
  font-family: "Zilla Slab", serif;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  gap: 15px;
  font-family: "Zilla Slab", serif;
}

.maintenance-schedules {
  font-family: "Zilla Slab", serif;
}
