.car-form {
  color: #000000;
  font-family: "Zilla Slab", sans-serif;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8%;
}

.car-form input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #000000;
  padding: 15px; /* Increase padding to make the input bigger */
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px; /* Adjust font size to your preference */
}

.save-button {
  background-color: #000000;
  color: #ffffff;
  font-family: "Zilla Slab", sans-serif;
  font-weight: bold;
  width: 10%;
}

.save-button:hover {
  background-color: #000000;
}
